@charset "UTF-8";
@use "variables" as vars; // 매개 변수는 모듈 형식으로 불러올 수 없으므로
@use "mixins" as *;

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-Regular.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-Medium.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-SemiBold.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-Bold.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format('truetype-variations');
}


@keyframes slide-in {
  0% {
    transform: translateY(100%);
	opacity: 0;
  }
  100% {
    transform: translateY(0);
	opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
	opacity: 1;
  }
  100% {
    transform: translateY(-100%);
	opacity: 0;
  }
}

*, *::before, *::after { box-sizing: border-box; }

#header-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-bottom: 1px solid #d7d7d7;
	z-index: 10;
	&.on{
		border-bottom: none;
	}
}

#menu-mobile {
	background-color: white;
	width: 100vw;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	align-items: flex-start;
	padding: 5rem 5rem 7rem 5rem;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
	z-index: 2;
	height: auto;
	max-height: 100rem;
	transition: max-height 0.3s ease, padding 0.2s ease;
	&.off {
		max-height: 0rem;
		padding: 0 5rem;
		overflow: hidden;
	}
}

header {
	width: 100%;
	max-width: 1680px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 2rem;
	padding: 2rem 7rem 3rem 7rem;
	z-index: 2;
	> img {
		width: 30rem;
		aspect-ratio: 6 / 1.1;
		object-fit: cover;
		object-position: center;
		cursor: pointer;
	}
	> #menu {
		font-size: 1.8rem;
		font-weight: 600;
		display: flex;
		column-gap: 2rem;
		padding-top: 1.5rem;
		cursor: pointer;
	}
	> #menu-folded{
		padding-top: 0.5rem;
		display: none;
		> span {
			height: 2px;
			width: 2rem;
			background-color: var(--color-black);
			transition: all 0.3s ease;
		}
		&.on {
			>span:first-of-type {
				rotate: 45deg;
				transform: translateX(25%);
			}
			>span:nth-of-type(2) {
				display: none;
			}
			>span:last-of-type {
				transform: translateX(25%);
				rotate: -45deg;
			}
		}
	}
	@include respond(md) {
		padding: 1rem 5rem 2rem 5rem;
		> #menu {
			font-size: 1.2em;
		}
		> img {
			width: 20em;
		}
	}
	@include respond(sm) {
		padding: 1rem 2rem;
		> img {
			width: 18rem;
			aspect-ratio: 6 / 1.1;
			object-fit: cover;
			object-position: center;
			cursor: pointer;
		}
		> #menu {
			display: none;
		}
		> #menu-folded{
			display: flex;
			flex-direction: column;
			row-gap: 0.5rem;
		}
	}
}

#title {
	background-color: white;
	width: 100%;
	padding: 23.6rem 7rem 10rem 7rem;
	> div {
		font-size: 4em;
		font-weight: 800;
		white-space: nowrap;
	}
	@include respond(md){
		padding: 18.6rem 5rem 4rem 5rem;
		> div {
			font-size: 3em;
		}
	}
	@include respond(sm) {
		padding: 10.6rem 2rem 3rem 2rem;
		> div {
			white-space: pre-line;
			font-size: 1.5em;
		}
	}
}

#company-wrapper {
	background-color: white;
	width: 100%;
	height: calc(100dvh - 6.8rem);
	display: grid;
	align-items: center;
	justify-content: center;
	> video {
		scale: 1;	
		width: 100vw;
		z-index: 0;
		object-fit: cover;
		height: calc(100dvh - 6.8rem);
		margin-top: 6.8rem;
	}
	> * {
		grid-area: 1 / 1;
	}
	@include respond(sm) {
		> video {
			margin-top: 4.4rem;
			height: 100dvh;
		}
	}
}

.overlay {
	scale: 1;
	width: 100vw;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
	pointer-events: none;
	height: calc(100dvh - 6.8rem);
	margin-top: 6.8rem;
	&.header {
		position: absolute;
		inset: 0;
		opacity: 1;
		transition: all 0.3s ease;
		pointer-events: all;
		height: 100dvh;
		&.off {
			z-index: -1;
			opacity: 0;
			pointer-events: none;
		}
	}
	@include respond(sm) {
		margin-top: -2rem;
		&.header {
			margin-top: 5.4rem;
		}
	}
}

.grid-layout {
	z-index: 2;
	display: grid;
	width: 100%;
	max-width: 1680px;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 2rem;
	padding: 16.8rem 10rem 10rem 10rem;
	align-items: center;
	margin: 0 auto;
	color: white;
	> p {
		grid-column: 1 / 2;
		font-size: 2em;
		font-weight: 900;
		white-space: nowrap;
		margin-top: -300%;
	}
	> div {
		grid-column: 3 / -1;
		display: grid;
		align-items: center;
		> * {
			
			grid-area: 1 / 1;
			text-align: right;
		}
	}
	@include respond(md) {
		padding: 6.4rem 5rem 5rem 5rem;
		> p {
			font-size: 1.8em;
		}
		> div {
			font-size: 0.9em;
		}
	}
	@include respond(sm) {
		margin-top: 3.4rem;
		height: 100dvh;
		display: flex;
		flex-direction: column;
		row-gap: 8em;
		align-items: flex-start;
		justify-content: center;
		padding: 6.4rem 3rem 3rem 3rem;
		> p {
			margin-top: -4em;
			font-size: 1.4em;
		}
		> div {
			font-size: 0.6em;
		}
	}
}

.company {
	width: 100%;
	z-index: 1;
	font-size: 1.8em;
	justify-content: center;
	line-height: 1.7;
	// opacity: 0;
	> span {
		font-weight: 700;
	}
	> div {
		margin-top: 0.4em;
		line-height: 1.4;
		> span {
			font-size: 0.8em;
			font-weight: 700;
		}
	}
}

#count-down {
	width: 100%;
	min-height: 3.2em;
	> pre {
		font-size: 3em;
		font-weight: 900;
		color: var(--color-main-50);
		font-family: 'Montserrat';
		margin: -0.3em 0 0 0;
	}
}


#whatWeDo-wrapper {
	background-color: var(--color-main-50);
	color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16.8rem 0 10rem 0;
	@include respond(md) {
		padding: 12.8rem 0 8rem 0;
	}
	@include respond(sm) {
		padding: 16.8rem 0 10rem 0;
	}
}

.whatWeDo-grid {
	width: 100%;
	display: grid;
	max-width: 1680px;
	padding: 15rem 10rem;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 2rem;
	align-items: center;
	> div {
		grid-column: 1 / 7;
		width: 100%;
		font-size: 1.2em;
		> p {
			font-size: 0.8em;
			> span {
				font-size: 1.8em;
				font-weight: 900;
			}
		}
		> div:first-of-type {
			border-bottom: 1px solid white;
			padding-bottom: 1.5em;
		}
	}
	> img {
		grid-column: 8 / -1;
		width: 100%;
		aspect-ratio: 16 /9;
	}
	@include respond(md) {
		padding: 10rem;
		column-gap: 0.4em;
		> div {
			font-size: 1.1em;
		}
	}
	@include respond(sm) {
		padding: 5rem 2rem;
		display: flex;
		flex-direction: column;
		row-gap: 2em;
		> div {
			font-size: 1em;
			> div:nth-of-type(2) {
				margin-top: 1em;
			}
		}
	}
}

.feature-box {
	opacity: 0;
}

#proposal {
	padding: 16.8rem 10rem 10rem 10rem;
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	> * {
		max-width: 1680px;
	}
	> div {
		width: 100%;
		padding: 0 20rem;
	}
	.title {
		font-size: 5rem;
		font-weight: 900;
	}
	.subtitle {
		margin-top: 1rem;
		font-size: 2rem;
	}
	
	@include respond(md) {
		padding: 12.8rem 5rem 7rem 5rem;
		> div {
			padding: 0 5rem;
		}
		.title {
			font-size: 3.5rem;
		}
		.subtitle {
			margin-top: 0.5rem;
			font-size: 1.2em;
		}
	}
	@include respond(sm) {
		padding: 7.8rem 3rem 4rem 3rem;
		.title {
			font-size: 1.6em;
		}
		.subtitle {
			font-size: 1em;
		}
		> div {
			padding: 0;
		}
	}
}

#tabs {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 5rem 0;
	gap: 0.5em;
	> li {
		list-style: none;
		display: block;
		width: 100%;
		padding: 1em 0;
		text-align: center;
		cursor: pointer;
		letter-spacing: 0.3em;
	}
	@include respond(md) {
		margin: 2em 0;
		> li {
			font-size: 1em;
			white-space: nowrap;
		}
	}
	@include respond(sm) {
		margin: 2rem 0;
		> li {
			font-size: 0.8em;
			letter-spacing: 0;
		}
	}
}

label {
	margin-top: 1rem;
	font-size: 1.8rem;
	display: block;
	> input, textarea {
		font-size: 1.2em;
		display: block;
		margin-top: 1rem;
		width: 100%;
		padding: 2rem;
		border: 1px solid #d9d9d9 ;
	}
	> textarea {
		height: 10em;
	}
	@include respond(md) {
		font-size: 1em;
		> input, textarea {
			margin-top: 0.3em;
			padding: 0.4em;
		}
		> textarea {
			height: 5em;
		}
	}
	@include respond(sm) {
		font-size: 0.9em;
		> input, textarea {
			margin-top: 0.3em;
			padding: 0.4em;
		}
		> textarea {
			height: 5em;
		}
	}
}

#send-button {
	position: relative;
	width: fit-content;
	margin-top: 5.5em;
	display: flex;
	justify-content: center;
	@include respond(md) {
		margin-top: 3.6em;
		font-size: 1em;
	}
	@include respond(sm) {
		margin-top: 6em;
		font-size: 0.65em;
	}
}

button {
	cursor: pointer;
	align-self: flex-start;
	border: none;
	color: var(--color-main-50);
	background-color: transparent;
	padding: 1em 3em;
	font-size: 1.4em;
	font-weight: 900;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	> span {
		margin-left: 0.2em;
	}
}

button:before, button:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8.5em;
  height: 8.5em;
  border: 2px solid var(--color-main-50-tr);
  border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}

button:after {
  width: 7.5em;
  height: 7.5em;
  border-width: 6px;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}

button:hover:before, button:hover:after, button:focus:before, button:focus:after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

#footer-wrapper {
	padding: 10rem;
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	> * {
		max-width: 1680px;
	}
	> div {
		width: 100%;
		padding: 0 20rem;
	}
	@include respond(sm) {
		padding: 3rem;
		> div {
			padding: 0;
		}
	}
}

footer {
	width: 100%;
	display: grid;
	column-gap: 1rem;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	> img {
		grid-column: 1 / 7;
		width: 100%;
		max-width: 70rem;
		aspect-ratio: 6 / 1.1;
		object-fit: cover;
	}
	> #ci-mobile {
		display: none;
	}
	> div {
		font-size: 1.2em;
		line-height: 1.7;
		text-align: right;
		grid-column: 8 / -1 ;
		> span {
			cursor: pointer;
			font-weight: 700;
			&:last-of-type {
				cursor: default;
				font-size: 0.8em;
				font-weight: 400;
				color: var(--color-gray-50);
			}
		}
	}
	@include respond(md) {
		> div {
			font-size: 1em;
		}
	}
	@include respond(sm) {
		display: flex;
		flex-direction: column;
		> #ci {
			display: none;
		}
		> #ci-mobile {
			display:inline;
			align-self: flex-end;
			object-fit: contain;
			width: 5em;
			aspect-ratio: 1/1;
			margin-right: -1.3rem;
		}
		> div {
			font-size: 0.9em;
		}
	}
}

a {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: var(--color-black);
	cursor: pointer;
	gap: 0.4em;
	font-size: 1.5em;
	font-weight: 900;
	margin-top: 0.3em;
	> span {
		font-size: 1.6em;
		color: red !important;
	}
	&.header {
		font-size: 1em;
		margin-top: 2em;
	}
}

.alert {
	position: absolute;
	top: 57%;
	font-size: 2rem;
	padding: 1.7rem 4rem 1.5rem 4rem;
	border: 1px solid var(--color-gray-20);
	border-radius: 20px;
	display: flex;
	column-gap: 2.5rem;
	align-items: center;
	background-color: #ffffffd6;
	white-space: pre-line;
	transform: translateY(5em);
	pointer-events: none;
	&.phone, &.address {
		column-gap: 1.5rem;
		left: 55%;
		top: 40%;
	}
	> span {
		margin-top: -0.2rem;
		color:#1bb618;
	}
	&.on {
		animation: slide-in 0.3s ease forwards;
	}
	&.off {
		animation: slide-out 0.3s ease forwards;
	}
	@include respond(md) {
		font-size: 1em;
		padding: 1em 1.5em;
		&.phone, &.address {
			left: 40%;
		}
	}
	@include respond(sm) {
		font-size: 0.9em;
		padding: 1em 1.5em;
		&.phone, &.address {
			left: 26%;
			top: 40%;
		}
	}
}