@charset "UTF-8";
@use "variables" as vars; // 매개 변수는 모듈 형식으로 불러올 수 없으므로
@use "mixins" as *;

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-Regular.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-Medium.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-SemiBold.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-Bold.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format('truetype-variations');
}


@keyframes wave {
  30% {
    -webkit-transform: translate3d(0, -5px, 0) rotate(5deg);
    transform: translate3d(0, -5px, 0) rotate(5deg)
  }
  50% {
    -webkit-transform: translate3d(0, -3px, 0) rotate(-4deg);
    transform: translate3d(0, -3px, 0) rotate(-4deg)
  }
  80% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-3deg);
    transform: translate3d(0, 0, 0) rotate(-3deg)
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(8.5rem);
  }
  30%, 60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10.5rem);
  }
}

*, *::before, *::after { box-sizing: border-box; }

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding: 2rem 7rem 3rem 7rem;
	border-bottom: 1px solid #d7d7d7;
	z-index: 10;
	> img {
		width: 30rem;
		aspect-ratio: 6 / 1.1;
		object-fit: cover;
		object-position: center;
	}
	> div {
		font-size: 1.8rem;
		font-weight: 400;
		display: flex;
		column-gap: 1rem;
		padding-top: 1.5rem;
	}
}

#title {
	background-color: white;
	width: 100%;
	padding: 23.6rem 7rem 10rem 7rem;
	> div {
		font-size: 4em;
		font-weight: 800;
	}
}

#company {
	background-color: white;
	width: 100%;
	padding: 0 5rem;	
}

#company-inner {
	width: 100%;
	height: fit-content;
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 5em;
	> video {
		// display: block;
		// position: absolute;
		width: 100%;
		height: calc(100vh - 1.6rem);
		// object-fit: contain;
		z-index: 0;
	}
	> div {
		width: 100%;
		font-size: 1.7em;
		padding: 10rem 5rem;
		z-index: 1;
		text-align: right;
	}
}

#count-down {
	font-size: 3em;
	color: brown;
}



#contact {
	background-color: white;
	width: 100%;
	padding: 0 25rem;
	> label {
		font-size: 1.6rem;
		> input {
			width: 100%;
			display: block;
			padding: 1rem;
			font-size: 1.5em;
		}
	}
}


#tabs {
	display: flex;
	justify-content: space-between;
	padding: 0;
	> li {
		list-style: none;
		display: block;
		width: 100%;
		padding: 3em 0;
		text-align: center;
		cursor: pointer;
	}
}



