@charset "UTF-8";
@use "variables" as vars; // 매개 변수는 모듈 형식으로 불러올 수 없으므로
@use "mixins" as *;

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-Regular.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-Medium.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-SemiBold.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-Bold.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format('truetype-variations');
}


@keyframes wave {
  30% {
    -webkit-transform: translate3d(0, -5px, 0) rotate(5deg);
    transform: translate3d(0, -5px, 0) rotate(5deg)
  }
  50% {
    -webkit-transform: translate3d(0, -3px, 0) rotate(-4deg);
    transform: translate3d(0, -3px, 0) rotate(-4deg)
  }
  80% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-3deg);
    transform: translate3d(0, 0, 0) rotate(-3deg)
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(8.5rem);
  }
  30%, 60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10.5rem);
  }
}

*, *::before, *::after { box-sizing: border-box; }

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding: 2rem 7rem 3rem 7rem;
	border-bottom: 1px solid #d7d7d7;
	z-index: 10;
	> img {
		width: 30rem;
		aspect-ratio: 6 / 1.1;
		object-fit: cover;
		object-position: center;
	}
	> div {
		font-size: 1.8rem;
		font-weight: 400;
		display: flex;
		column-gap: 1rem;
		padding-top: 1.5rem;
	}
}

#title {
	background-color: white;
	width: 100%;
	padding: 23.6rem 7rem 10rem 7rem;
	> div {
		font-size: 4em;
		font-weight: 800;
	}
}

.title {
	font-size: 5rem;
	font-weight: 900;
}

.subtitle {
	margin-top: 1rem;
	font-size: 2rem;
}

#company-wrapper {
	background-color: white;
	width: 100%;
	height: calc(100vh - 6.8rem);
	display: grid;
	> video {
		scale: 1;	
		width: 100%;
		height: calc(100vh - 6.8rem);
		margin-top: 6.8rem;
		z-index: 0;
		object-fit: cover;
	}
	> * {
		grid-area: 1 / 1;
	}
	> #overlay {
		content: "";
		scale: 1;
		margin-top: 6.8rem;
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 1;
		pointer-events: none;
		height: 100%;
	}
}

.grid-layout {
	z-index: 2;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 2rem;
	padding: 14.8rem 10rem 10rem 10rem;
	color: white;
	> p {
		grid-column: 1 / 2;
		font-size: 2em;
		font-weight: 900;
		white-space: nowrap;
		margin-top: 3em;
	}
	> div {
		grid-column: 3 / -1;
		display: grid;
		align-items: center;
		> * {
			
			grid-area: 1 / 1;
			text-align: right;
		}
	}
}

.company {
	width: 100%;
	z-index: 1;
	font-size: 1.8em;
	justify-content: center;
	line-height: 1.7;
	// opacity: 0;
	> span {
		font-weight: 700;
	}
	> div {
		margin-top: 0.4em;
		line-height: 1.4;
		> span {
			font-size: 0.8em;
			font-weight: 700;
		}
	}
}

#count-down {
	width: 100%;
	min-height: 3.2em;
	> pre {
		font-size: 3em;
		font-weight: 900;
		color: rgb(233, 55, 55);
		font-family: 'Montserrat';
		margin: -0.3em 0 0 0;
	}
}

#service {
	width: 100%;
	height: fit-content;
	// position: absolute;
	top: 0;
	right: 10rem;
	margin-top: calc(100vh + 60rem);
	display: flex;
	flex-direction: column;
	color: white;
	row-gap: 5em;
	z-index: 1;
	> div {
		width: 100%;
		font-size: 1.7em;
		padding: 10rem 0;
		z-index: 1;
		text-align: right;
	}
}

#contact {
	padding: 0 10rem;
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	> div {
		width: 60%;
	}
	> article {
		width: 100%;
		display: grid;
		column-gap: 1rem;
		margin-top: 10rem;
		grid-template-columns: repeat(12, 1fr);
		> div:nth-of-type(1) {
			grid-column: 1 / span 7;
		}
		> div:nth-of-type(2) {
			text-align: right;
			grid-column: 8 / span 5 ;
		}
	}
}

label {
	margin-top: 1rem;
	font-size: 1.6rem;
	display: block;
	> input, textarea {
		display: block;
		margin-top: 1rem;
		width: 100%;
		padding: 1rem;
		border: 1px solid #d9d9d9 ;
	}
	> textarea {
		height: 10em;
	}
}

#tabs {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 5rem 0;
	gap:0.5em;
	> li {
		list-style: none;
		display: block;
		width: 100%;
		padding: 1em 0;
		text-align: center;
		cursor: pointer;
		letter-spacing: 0.3em;
	}
}


button {
	border: none;
	color: var(--color-main-30);
	// background-color: transparent;
	display: block;
	border-radius: 10px;
	padding: 2em 0;
	min-width: 20em;
	font-size: 1.2em;
	margin-top: 2em;
	> span {
		transform: translateY(-0.2em);
		margin-left: 0.5em;
	}
}
