@charset "UTF-8";
@use "variables" as vars; // 매개 변수는 모듈 형식으로 불러올 수 없으므로
@use "mixins" as *;

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-Regular.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-Medium.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-SemiBold.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Pretendard-Bold.subset.woff2") format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format('truetype-variations');
}


@keyframes slide-in {
  0% {
    transform: translateY(100%);
	opacity: 0;
  }
  100% {
    transform: translateY(0);
	opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
	opacity: 1;
  }
  100% {
    transform: translateY(-100%);
	opacity: 0;
  }
}

*, *::before, *::after { box-sizing: border-box; }

#header-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: white;
	display: flex;
	justify-content: center;
	padding: 2rem 7rem 3rem 7rem;
	border-bottom: 1px solid #d7d7d7;
	z-index: 10;
}

header {
	width: 100%;
	max-width: 1680px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 2rem;
	> img {
		width: 30rem;
		aspect-ratio: 6 / 1.1;
		object-fit: cover;
		object-position: center;
		cursor: pointer;
	}
	> div {
		font-size: 1.8rem;
		font-weight: 600;
		display: flex;
		column-gap: 2rem;
		padding-top: 1.5rem;
		cursor: pointer;
	}

}

#title {
	background-color: white;
	width: 100%;
	padding: 23.6rem 7rem 10rem 7rem;
	> div {
		font-size: 4em;
		font-weight: 800;
	}
}

.title {
	font-size: 5rem;
	font-weight: 900;
}


.subtitle {
	margin-top: 1rem;
	font-size: 2rem;
}

#company-wrapper {
	background-color: white;
	width: 100%;
	height: calc(100vh - 6.8rem);
	display: grid;
	align-items: center;
	justify-content: center;
	> video {
		scale: 1;	
		width: 100vw;
		height: calc(100vh - 6.8rem);
		margin-top: 6.8rem;
		z-index: 0;
		object-fit: cover;
	}
	> * {
		grid-area: 1 / 1;
	}
	> #overlay {
		scale: 1;
		width: 100vw;
		// position: absolute;
		// inset: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 1;
		pointer-events: none;
		height: calc(100vh - 6.8rem);
		margin-top: 6.8rem;
	}
}

.grid-layout {
	z-index: 2;
	display: grid;
	width: 100%;
	max-width: 1680px;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 2rem;
	padding: 16.8rem 10rem 10rem 10rem;
	align-items: center;
	margin: 0 auto;
	color: white;
	> p {
		grid-column: 1 / 2;
		font-size: 2em;
		font-weight: 900;
		white-space: nowrap;
		margin-top: -300%;
	}
	> div {
		grid-column: 3 / -1;
		display: grid;
		align-items: center;
		> * {
			
			grid-area: 1 / 1;
			text-align: right;
		}
	}
}

.company {
	width: 100%;
	z-index: 1;
	font-size: 1.8em;
	justify-content: center;
	line-height: 1.7;
	// opacity: 0;
	> span {
		font-weight: 700;
	}
	> div {
		margin-top: 0.4em;
		line-height: 1.4;
		> span {
			font-size: 0.8em;
			font-weight: 700;
		}
	}
}

#count-down {
	width: 100%;
	min-height: 3.2em;
	> pre {
		font-size: 3em;
		font-weight: 900;
		color: var(--color-main-50);
		font-family: 'Montserrat';
		margin: -0.3em 0 0 0;
	}
}


#whatWeDo-wrapper {
	background-color: var(--color-main-50);
	color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16.8rem 0 10rem 0;
}

.whatWeDo-grid {
	width: 100%;
	display: grid;
	max-width: 1680px;
	padding: 15rem 10rem;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 2rem;
	align-items: center;
	> div {
		grid-column: 1 / 7;
		width: 100%;
		font-size: 1.2em;
		> p {
			font-size: 0.8em;
			> span {
				font-size: 1.8em;
				font-weight: 900;
			}
		}
		> div:first-of-type {
			border-bottom: 1px solid white;
			padding-bottom: 1.5em;
		}
	}
	> img {
		grid-column: 8 / -1;
		width: 100%;
		aspect-ratio: 16 /9;
	}
}

.feature-box {
	opacity: 0;
}

#proposal {
	padding: 16.8rem 10rem 10rem 10rem;
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	> * {
		max-width: 1680px;
	}
	> div {
		width: 100%;
		padding: 0 20rem;
	}
}

label {
	margin-top: 1rem;
	font-size: 1.8rem;
	display: block;
	> input, textarea {
		font-size: 1.2em;
		display: block;
		margin-top: 1rem;
		width: 100%;
		padding: 2rem;
		border: 1px solid #d9d9d9 ;
	}
	> textarea {
		height: 10em;
	}
}

#tabs {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 5rem 0;
	gap: 0.5em;
	> li {
		list-style: none;
		display: block;
		width: 100%;
		padding: 1em 0;
		text-align: center;
		cursor: pointer;
		letter-spacing: 0.3em;
	}
}

#send-button {
	position: relative;
	width: fit-content;
	margin-top: 5.5em;
	display: flex;
	justify-content: center;
}

button {
	cursor: pointer;
	align-self: flex-start;
	border: none;
	color: var(--color-main-50);
	background-color: transparent;
	padding: 1em 3em;
	font-size: 1.4em;
	font-weight: 900;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	> span {
		margin-left: 0.2em;
	}
}

button:before, button:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8.5em;
  height: 8.5em;
  border: 2px solid var(--color-main-50-tr);
  border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}

button:after {
  width: 7.5em;
  height: 7.5em;
  border-width: 6px;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}

button:hover:before, button:hover:after, button:focus:before, button:focus:after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

#footer-wrapper {
	padding: 10rem;
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	> * {
		max-width: 1680px;
	}
	> div {
		width: 100%;
		padding: 0 20rem;
	}
}

footer {
	width: 100%;
	display: grid;
	column-gap: 1rem;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	> img {
		grid-column: 1 / 7;
		width: 100%;
		max-width: 70rem;
		aspect-ratio: 6 / 1.1;
		object-fit: cover;
	}
	> div {
		font-size: 1.2em;
		line-height: 1.7;
		text-align: right;
		grid-column: 8 / -1 ;
		> span {
			cursor: pointer;
			font-weight: 700;
			&:last-of-type {
				cursor: default;
				font-size: 0.8em;
				font-weight: 400;
				color: var(--color-gray-50);
			}
		}
		> a {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			color: var(--color-black);
			cursor: pointer;
			gap: 0.4em;
			font-size: 1.5em;
			font-weight: 900;
			margin-top: 0.3em;
			> span {
				font-size: 1.6em;
				color: red !important;
			}
		}
	}
}

.alert {
	position: absolute;
	top: 57%;
	font-size: 2rem;
	padding: 1.7rem 4rem 1.5rem 4rem;
	border: 1px solid var(--color-gray-20);
	border-radius: 20px;
	display: flex;
	column-gap: 2.5rem;
	align-items: center;
	background-color: #ffffffd6;
	white-space: pre-line;
	transform: translateY(5em);
	pointer-events: none;
	&.phone, &.address {
		column-gap: 1.5rem;
		left: 55%;
		top: 40%;
	}
	> span {
		margin-top: -0.2rem;
		color:#1bb618;
	}
	&.on {
		animation: slide-in 0.3s ease forwards;
	}
	&.off {
		animation: slide-out 0.3s ease forwards;
	}
}