$breakpoints: (
  sm: "(max-width: 480px)",
  md: "(max-width: 1200px)",
  lg: "(min-width: 1201px)",
  overMd: "(min-width: 481px)",
);


:root {
    // 색상 : 프로젝트 배경
    --color-gray-light: #ebeef0;
    --color-gray-50: #757575;
    --color-gray-80: #353535;

    // 색상 : 폰트
    --color-text-light: #666666;
    --color-text-main: #222222;

    // 색상
    --color-main-dark: #232c51;
    --color-main-blue: #0b6fe8;
    --rgb-main-blue: 11, 111, 232;
    --color-main: #000000;
    // --color-main-700: #314079;     // 주용도 : 배경에 깔린 텍스트
    // --color-main-600: #314079;     // 주용도 : 텍스트만 단독으로 쓸때
    // --color-main-500: #314079;     // 주용도 : 배경 (강조)
    // --color-main-100: #314079;   // 주용도 : 배경 (있다고 알리는 정도)
}