$breakpoints: (
  sm: "(max-width: 480px)",
  md: "(max-width: 1200px)",
  lg: "(min-width: 1201px)",
  overMd: "(min-width: 481px)",
);


:root {
    --color-gray-light: #ebeef0;
    --color-gray-20: #d3d3d3;
    --color-gray-50: #757575;
    --color-gray-80: #353535;

    // 색상 : 폰트
    --color-text-light: #666666;
    --color-text-main: #222222;

    // 색상
    --color-black: #2e2e2e;
    --color-main: #690909ff;
    --color-main-50-tr: #c6353594;
    --color-main-50: #c63535;
    --color-main-30: #cc6e6eff;
}