<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  
  # 실제 파일이나 디렉토리가 존재하지 않을 경우
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # 모든 요청을 index.html로 rewrite
  RewriteRule . /index.html [L]
</IfModule>
