:root {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, Arial, serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5;

  display: flex;
  justify-content: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -moz-user-select:none;
	-ms-user-select:none;
	user-select:none;

  color: var(--color-black);
  margin: 0;
  padding: 0;
  width: calc(100vw - 6px);
  overflow-x: hidden;
  /* 스크롤바 사이즈 제외,
    margin: 0 설정도 여기에 같이 해야 함. */
  min-width: 320px;
  font-size: 1.6rem;  /* = 16px */
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;     /* 세로 스크롤바 */
  height: 0px;    /* 가로 스크롤바 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 스크롤바 핸들 (움직이는 부분) */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* 회색 반투명 */
  border-radius: 10px;
}

/* 얇은 스크롤바 */ 
.scrollable-element {
  scrollbar-width: thin; /* normal | thin | none */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

button {
  /* border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s; */
}

button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
